<h1 mat-dialog-title><strong>Disponibilidad en tienda</strong></h1>
<div *ngIf="shops.length > 0; else elseBlock">
<mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Dirección de la tienda</mat-label>
    <mat-select [(value)]="selectedStock" (selectionChange)="checkAvailable(selectedStock)">
      <mat-option *ngFor="let shop of shops" [value]="shop.shopStocks">
        {{shop.address}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3 style="color:lime" *ngIf="available == true">Actualmente se encuentea disponible en la tienda.</h3>
  <h3 style="color:red" *ngIf="available == false">No se encuentra disponible actualmente en la tienda.</h3>


</mat-dialog-content>
<mat-card-footer>
  <button mat-button color="warn" (click)="closeDialog()">
    Cerrar
 </button>
</mat-card-footer>
</div>

<ng-template #elseBlock>
  <h3> No hay existencias de este producto para la talla seleccionada en ninguna tienda. </h3>

  <button mat-button color="warn" (click)="closeDialog()">
     Cerrar
  </button>
</ng-template>
