<mat-dialog-content>
  <mat-card>
    <h1 mat-card-title *ngIf="action == 'Delete'"><strong> Borrar Empleado </strong></h1>
    <h1 mat-card-title *ngIf="action == 'Update'"><strong> Editar Empleado </strong></h1>
    <h1 mat-card-title *ngIf="action == 'Add'"><strong> Crear Empleado</strong></h1>
    <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="action != 'Delete'; else elseTemplate">
        <div>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="firstName" formControlName="firstName" [(ngModel)]="employee.firstName" required>
            <mat-error *ngIf="form.get('firstName').hasError('required')">
              Valor requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="lastName" formControlName="lastName" [(ngModel)]="employee.lastName" required>
            <mat-error *ngIf="form.get('lastName').hasError('required')">
              Valor requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="address" formControlName="address" [(ngModel)]="employee.address" required>
            <mat-error *ngIf="form.get('address').hasError('required')">
              Valor requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" name="email" formControlName="email" [(ngModel)]="employee.email" required>
            <mat-error *ngIf="form.get('email').hasError('required')">
              Valor requerido
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">
              El E-mail es erroneo
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Número Seguridad Social</mat-label>
            <input matInput name="sSecurityNumber" formControlName="sSecurityNumber" [(ngModel)]="employee.sSecurityNumber" required>
            <mat-error *ngIf="form.get('sSecurityNumber').hasError('required')">
              Valor requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Salario (€)</mat-label>
            <input matInput placeholder="Salario (€)" formControlName="salary" [(ngModel)]="employee.salary" required>
            <mat-error *ngIf="form.get('salary').hasError('required')">
              Valor requerido
            </mat-error>
            <mat-error *ngIf="form.get('salary').hasError('pattern')">
              Debe ser un valor decimal (2 decimales)
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Número de cuenta</mat-label>
            <input placeholder="Número de cuenta" formControlName="accountNumber" matInput [(ngModel)]="employee.accountNumber" required>
            <mat-error *ngIf="form.get('accountNumber').hasError('required')">
              Valor requerido
            </mat-error>
          </mat-form-field>
        </div>

      </div>
        <br>
        <button type="submit" mat-flat-button color="accent" *ngIf="action == 'Add'">Crear</button>
        <button type="submit" mat-flat-button color="accent" *ngIf="action == 'Update'">Actualizar</button>
        <button type="button" mat-flat-button color="warn" *ngIf="action == 'Delete'" (click)="remove()">Eliminar</button>
        <button type="button" mat-button (click)="closeDialog()" color="warn">Cancelar</button>

      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<ng-template #elseTemplate>
  Estas seguro de borrar el empleado: <b>{{employee.username}}</b>?
</ng-template>
