<mat-card>
  <mat-card-title>Crear {{name}} Subcategoría</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div>
        <mat-form-field>
          <mat-label>Nombre de subcategoría</mat-label>
          <input matInput placeholder="subcategoryname" name="subcategoryname" formControlName="subcategoryname">
        </mat-form-field>
        <div *ngIf="submitted && f.subcategoryname.errors" class="invalid-feedback">
          <div *ngIf="f.subcategoryname.errors.required">Category name is required</div>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Elegir tipo de talla</mat-label>
          <mat-select [(value)]="selectedSizeType">
            <mat-option *ngFor="let sizeType of clothingSizeType" [value]="sizeType.value">
              {{sizeType.viewValue}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
      <p>
      <button class="width-button" [disabled]="loading||selectedSizeType==undefined" type="submit" mat-raised-button color="primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Crear
      </button>
    </p>
    <p>
      <button class="width-button" mat-raised-button color="accent" routerLink="/">Cancelar</button>
    </p>

    </form>
  </mat-card-content>



</mat-card>
