<mat-card>
  <mat-card-title>Create {{name}} Subcategory</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div>
        <mat-form-field>
          <mat-label>Subcategory name</mat-label>
          <input matInput placeholder="subcategoryname" name="subcategoryname" formControlName="subcategoryname">
        </mat-form-field>
        <div *ngIf="submitted && f.subcategoryname.errors" class="invalid-feedback">
          <div *ngIf="f.subcategoryname.errors.required">Category name is required</div>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Choose type of clothing size</mat-label>
          <mat-select>
            <mat-option *ngFor="let sizeType of clothingSizeType" [value]="sizeTypeSelected">
              {{sizeType.viewValue}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
      <p>
      <button class="width-button" [disabled]="loading" type="submit" mat-raised-button color="primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Create
      </button>
    </p>
    <p>
      <button class="width-button" mat-raised-button color="accent" routerLink="../register">Cancel</button>
    </p>

    </form>
  </mat-card-content>



</mat-card>
