<h1 mat-dialog-title><strong> Tramitar Pedido </strong></h1>
  <mat-card>
    <mat-card-content>
    <div class="table-box">
      <span style="font-size: 16px;font-weight: 700; color:E91E63">Factura</span>
      <div *ngFor="let product of cartProducts"><span>{{product.name}} ....... x  {{product.quantity}}</span><span class="price">{{getSubtotal(product) | number:'1.2-5'}} €</span></div>
      <div class="total-text">
          <span style="font-size: 16px;font-weight: 700; color:#E91E63">Total</span>
          <span style="font-size: 16px;font-weight: 700; color:#E91E63" class="price">{{getTotalPrice() | number:'1.2-5'}} €</span>
      </div>
    </div>
    <br>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>

      <input placeholder="Dirección" matInput formControlName="address" [(ngModel)]="customer.address" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input placeholder="Tarjeta" matInput formControlName="card" [(ngModel)]="customer.cardNumber" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de caducidad:</mat-label>
      <input type="month" [value]="date" matInput formControlName="expiration" min="2020-02" max="2040-03" required
      pattern="[0-9]{4}-[0-9]{2}">
    </mat-form-field>

    <button type="submit" class="buy-now" mat-raised-button color="accent">Comprar Ahora</button>
    <hr>
    <button type="button" class="buy-now" mat-button (click)="closeDialog()" color="warn">Cancelar</button>

  </form>
    </mat-card-content>
</mat-card>
