<div class="example-container">
  <mat-toolbar color="primary">

    <button mat-icon-button (click)="snav.toggle()" class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="img-responsive" src="assets/images/clothing_my_world.svg" routerLink="/">
    <span class = filler></span>
    <button mat-button *ngIf="isCustomer" routerLink="/sales/orders/customers/1">
      <mat-icon>card_giftcard</mat-icon>
      Pedidos
    </button>
    <button mat-icon-button *ngIf="!isAdmin && !isEmployee" class="cart-icon" routerLink="/customers/cart">
      <mat-icon matBadge="{{cartCounter}}" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>


    <button mat-icon-button *ngIf="!user" class="account-icon" routerLink="/account/login">
      <mat-icon>account_circle</mat-icon>
      <span >Perfil</span>
    </button>
    <button mat-icon-button *ngIf="user" class="account-icon" #trigger="matMenuTrigger" [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="user">account_circle</mat-icon>
      <span *ngIf="user">{{user.username}}</span>
    </button>
    <!--
    <button mat-icon-button *ngIf="user" class="account-icon" #trigger="matMenuTrigger" [matMenuTriggerFor]="menu">
      <mat-icon color="accent" *ngIf="user">account_circle</mat-icon>
      <span style="color:#fc0061" *ngIf="user">{{user.username}}</span>
    </button>
    -->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

      <mat-nav-list>
        <app-menu-list *ngFor="let item of navItems" [item]="item" [role]="this.userRole"></app-menu-list>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Mi Cuenta</button>
  <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
</mat-menu>

