<h1> Crear producto para la categoría {{category}}/{{subcategory}}</h1>
 <div class="split left">
  <div class="centered">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div id="form-container" class="mat-elevation-z8">
        <mat-form-field>
          <mat-label>Nombre del producto</mat-label>
          <input matInput placeholder="Nombre del producto" name="productname" formControlName="productname" required>
          <mat-error *ngIf="form.get('productname').hasError('required')">
            Valor requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Precio Unidad (€)</mat-label>
          <input matInput placeholder="Precio Unidad" name="unit_price"
            formControlName="unit_price" required>
            <mat-error *ngIf="form.get('unit_price').hasError('required')">
              Valor requerido
            </mat-error>
            <mat-error *ngIf="form.get('unit_price').hasError('twoDecimalAllowed')">
              Debe ser un valor decimal (2 decimales)
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Imagen url</mat-label>
          <input matInput type="text" name="pictureUrl" formControlName="pictureUrl" placeholder="Imagen url"
            [(ngModel)]="pictureUrl" required>

            <mat-error *ngIf="form.get('pictureUrl').hasError('required')">
              Valor requerido
            </mat-error>
        </mat-form-field>


          <button class="width-button" [disabled]="loading" type="submit" mat-raised-button color="primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Crear
          </button>
        <hr>

          <button class="width-button" mat-button color="warn" routerLink="../">Cancel</button>

        </div>
      </form>
  </div>
</div>



<div class="split right">
  <div class="centered">
    <div id="image-container" class="mat-elevation-z8">
      <h2 *ngIf=!pictureUrl>Vista anticipada de la imagen</h2>

    <img *ngIf=pictureUrl [src]="pictureUrl" alt="Error loading picture">
    </div>
  </div>
</div>

