<mat-card>
  <mat-card-title>Iniciar Sesión</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput placeholder="username" name="username" formControlName="username">
        </mat-form-field>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">El username es requerido</div>
        </div>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="password" name="password"
          [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
        </div>
      </div>

      <p>
        <button [disabled]="loading" type="submit" mat-raised-button color="primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </p>
      <p>
        <button mat-raised-button color="accent" routerLink="../register/CUSTOMER">Registrarse</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
