<h1 mat-card-title *ngIf="action == 'Delete'"><strong> Eliminar Producto de la categoría</strong></h1>
<h1 mat-card-title *ngIf="action == 'Update'"><strong> Editar Producto de la categoría</strong></h1>
<h1 mat-card-title *ngIf="action == 'Add'"><strong> Añadir Procuto a la categoría</strong></h1>
<mat-dialog-content>
  <mat-grid-list cols="2" >
    <mat-grid-tile colspan="1" rowspan="1">

      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
                <mat-label>Nombre Producto</mat-label>
                <input matInput formControlName="productName" [(ngModel)]="product.name" required>
                <mat-error *ngIf="form.get('productName').hasError('required')">
                  Valor requerido
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="action != 'Delete'">
                <mat-label>Precio Unidad (€)</mat-label>
                <input matInput formControlName="unitPrice" [(ngModel)]="product.unitPrice" required>
                <mat-error *ngIf="form.get('unitPrice').hasError('required')">
                  Valor requerido
                </mat-error>
                <mat-error *ngIf="form.get('unitPrice').hasError('pattern')">
                  Debe ser un valor decimal (2 decimales)
                </mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="action != 'Delete'">
                <mat-label>Imagen url</mat-label>
                <input matInput formControlName="pictureUrl" [(ngModel)]="product.pictureUrl" required>
                <mat-error *ngIf="form.get('pictureUrl').hasError('required')">
                  Valor requerido
                </mat-error>
              </mat-form-field>

              <ng-template #elseTemplate>
                Estas seguro de borrar el producto <b>{{product.name}}</b>?
              </ng-template>

              <br>
              <button type="submit" class="width-button" mat-flat-button color="accent">
                <span *ngIf="action == 'Add'">Crear</span>
                <span *ngIf="action == 'Update'">Actualizar</span>
              </button>
              <button type="button"  class="width-button" mat-flat-button color="warn" *ngIf="action == 'Delete'" (click)="onSubmit()">Eliminar</button>
              <button mat-button class="width-button" (click)="closeDialog()" color="warn">Cancelar</button>
            </form>
          </mat-card-content>


      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <h2 *ngIf="!product.pictureUrl">Imagen Preview</h2>

        <img *ngIf="product.pictureUrl" [src]="product.pictureUrl" alt="Error loading picture">
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>

