<h1> Mis pedidos </h1>
<h2 *ngIf="!(orders.length > 0)">Aún no has realizado ningún pedido</h2>
<div fxFlex="20" class="example-card">
  <mat-card *ngFor="let order of orders" style="margin-top:10px;">
    <mat-card-content>
      <table>
        <tr>
          <th>Pedido ID.</th>
          <th>Fecha Pedido</th>
          <th>Dirección</th>
          <th>Total (€)</th>
        </tr>
        <tr>
          <td>{{order.id}}</td>
          <td>{{order.date | date: "dd/MMM/yyyy"}}</td>
          <td>{{order.address}}</td>
          <td>{{getTotalPrice(order.orderProducts) | number:'1.2-5'}} €</td>
        </tr>
      </table>

      <mat-grid-list cols="7" rowHeight="200px">
        <ng-container *ngFor="let product of order.orderProducts">
          <mat-grid-tile colspan="2">
            <img [src]="product.pictureUrl"/>
          </mat-grid-tile>
          <mat-grid-tile colspan="5">
            <mat-card>

              <mat-card-content>
                <h1>Nombre Producto: {{product.name}}</h1>
                <h3 class="inner">ID.: {{product.productId}}</h3>
                <h3 class="inner" *ngIf="checkSizeType(product.clothingSizeType)">Talla:  {{this.sizesDictionary[product.size]}}</h3>
                <h3 class="inner" *ngIf="!checkSizeType(product.clothingSizeType)">Talla: {{product.size}}</h3>
                <h3 class="inner">Precio Unidad: {{product.unitPrice | number:'1.2-5'}} €</h3>
                <h3 class="inner">Cantidad: {{ product.quantity }}</h3>
                <h3 class="inner">Estado: {{this.dictionary[product.state]}} </h3>
                <h3 class="inner">Almacén de origen: {{product.warehouseId}} </h3>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
